
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    /* paleta colores */
    --colortTitulos: #713EDA;
    --web: #DAB9FF;
    --colorText: #F7F4FB;
    --fondo: #100E40;

    /* fuente texto */
    --textos: "Montserrat", sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: var(--textos);
}


body{
    background-color: var(--fondo);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ----------Inicio de Header -------------- */

header {
    border-bottom: solid var(--colorText);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.listaHover{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: var(--colorText);
}

.listaHover:hover{
    background-color: var(--colortTitulos);
    color: var(--colorText);
    padding: 3px;
    border-radius: 5px;
}

.icon{
    color: var(--colortTitulos);
}

.horizontal{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.logo a{
    display: flex;
    gap: 10px;
}

.p-logo{
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
    color: var(--colorText);
}

.img-logo{
    width: 5%;
    height: 5%;
} 

.listaMenu{
    gap: 25px;
    align-items: center;
    display: flex;
    list-style: none; 
}

/* --------------inicio de Main -------------- */

main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1% 5% 0% 5%;
}

h1{
    font-family: var(--textos);
    color: var(--colortTitulos);
    width: 50%;
    margin-left: 35%;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

section{
    display: flex;
    justify-content: space-between;
}

.fotoP{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;   
    width: 30vw;
}

.fotoP img{
    width: 85%;
    height: 88%;
    border: solid white 15px;
    border-radius: 4rem;
}


/* Cambiar el none cuando se tenga experiencia */

.exp{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;  
    gap: 20px;
    color: var(--colorText);
    padding-top: 1%;
    padding-bottom: 1%;
    display: none;
}

.datos{
    font-size: 40px;
    color: var(--colortTitulos);
    font-weight: bold;
}

.contenido{
    color: var(--colorText);
    width: 30%;
}

h3{
    font-size: 30px;
    padding-bottom: 4%;
    padding-top: 1%;
    font-weight: bold;
    padding-left: 7%;
}

.contenido li{
    width: 100%;
    font-size: 18px;
    line-height: 2rem;
    list-style: none;
}

.caracteristicas{
    padding-top: 4%;
}

footer{
    color: var(--colorText);
    font-size: 15px;
    font-family: var(--textos);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1% 2%;
}


/* diseño adaptativo para el ipad pro */

@media screen and (max-width: 1024px) {

    body{
        overflow: hidden;
        box-sizing: border-box;
    }

    .horizontal{
        display: flex;
        gap: 20px;
    }

    .icon{
        font-size: 25px;
    }

    /* inicio del main e informacion */

    main{
        margin-top: 5%;
        width: 100%;
        height: 70vh;
    }

    h1{
        justify-content: center;
        margin-left: 0%;
        width: 100%;
        display: flex;
    }

    section{
        margin-top: 10%;
        width: 100%;
    }

    .fotoP{
        width: 100%;
        height: 100%;
    }

    .fotoP img{
        width: 80%;
        height: 100%;
    }

    .exp{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .lado{
        display: flex;
        flex-direction: column;
    }

    .contenido{
        width: 100%;
        height: 100vh;
    }

    footer{
        padding: 10%;
    }
}


/* diseño adaptativo para el iphone 12 pro */

@media screen and (max-width: 490px){

    body{
        overflow-y: scroll;
    }

    .logo{
        margin-top: 8%;
    }

    .listaMenu{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .horizontal{
        display: flex;
        gap: 100px;
    }

    /* inicio del main */

    main{
        margin-top: 7%;
        height: 100%;
    }

    h1{
        font-size: 30px;
    }

    section{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .fotoP{
        margin-top: 7%;
        margin-bottom: 10%;
        flex-direction: row;
        justify-content: center;
    }

    .fotoP img{
        width: 70%;
        height: 70%;
        border: solid white 4px;
    }

    /*QUEDA PENDIENTE EL DISPLAY NONE, PARA ACTUALIZAR INFORMACIÓN DE EXPERIENCIA */

    .exp{
        padding: 2%;
        text-align: center;
        gap: 0%;
        height: 20%;
        font-size: 13px;
        margin-left: 5%;
        display: none;
     }

    .datos{
        font-size: 22px;
    }

    .estudios{
        height: 50%;
    }

    .habilidades{
        height: 50%;
    }

    h3{
        font-size: 25px;
        text-align: center;
    }

}