
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{

    /* paleta colores */
    --colortTitulos: #713EDA;
    --web: #DAB9FF;
    --colorText: #F7F4FB;
    --fondo: #100E40;

    /* fuente texto */
    --textos: "Montserrat", sans-serif;
}

body{
    background-color: var(--fondo);
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

header{
    border-bottom: solid var(--colorText);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--textos);

}

.menuNavegacion{
    display: flex;
}

a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: var(--colorText);
}

.listaHover:hover{
    background-color: #f5f4f6;
    color: var(--colortTitulos);
    padding: 3px;
    border-radius: 5px;
}

.icon{
    color: var(--colortTitulos);
}

.logo a{
    height: 100%;
    align-items: center;
    gap: 20px;
}

.p-logo{
    font-size: 20px;
    font-weight: bold;
}

.img-logo{
    width: 6%;
    height: 6%;
} 

.listaMenu{
    gap: 25px;
    align-items: center;
    display: flex;
    list-style: none; 
}

main{
    width: 100%;
    height: 100%;
    padding: 1% 5% 1% 5%;
    font-family: var(--textos);
}

h1{
    font-family: var(--textos);
    color: var(--colortTitulos);
    display: flex;
    justify-content: end;
    font-size: 40px;
    text-align: center;
    padding-right: 30%;
    padding-bottom: 3%;
}

section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.fotoP{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;   
    width: 30vw;
}

.fotoP img{
    width: 85%;
    height: 88%;
    border: solid white 15px;
    border-radius: 4rem;
}
/* Cambiar el none cuando se tenga experiencia */

.exp{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;  
    gap: 20px;
    color: var(--colorText);
    padding-top: 1%;
    padding-bottom: 1%;
    display: none;
}

.datos{
    font-size: 40px;
    color: var(--colortTitulos);
    font-weight: bold;
}

.contenido{
    color: var(--colorText);
    width: 35%;
    padding-left: 7%;
}

.contenido li{
    width: 70%;
    line-height: 2rem;
    padding-left: 1%;
}

h2{
    font-size: 30px;
    padding-bottom: 4%;
    padding-top: 2%;
}

footer{
    color: var(--colorText);
    font-size: 15px;
    font-family: var(--textos);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
}