
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variables */

:root{
    --Titulo: #713ED9;
    --Cuadro: #31245C;
    --Dweb: #DAB9FF;
    --fondo: #F7F4FB;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/fondosPaginas/fondoContacto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    border-bottom: solid var(--Cuadro);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuNavegacion{
    display: flex;
}

a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: var(--Cuadro);
}

.listaHover:hover{
    background-color: var(--Titulo);
    color: var(--fondo);
    padding: 3px;
    border-radius: 5px;
}

.icon{
    color: var(--Titulo);
}

.logo a{
    height: 100%;
    align-items: center;
    gap: 10px;
}

.p-logo{
    font-size: 20px;
    font-weight: bold;
}

.img-logo{
    width: 6%;
    height: 6%;
} 

.listaMenu{
    gap: 25px;
    align-items: center;
    display: flex;
    list-style: none; 
}

h1{
    color: var(--Titulo);
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

main{
    width: 100%;
    height: 70vh;
}

section{
    margin: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section div{
    border: solid var(--fondo) 7px;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 58vh;  
    background-color: var(--fondo); 
    margin-top: 3%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0,3s;
}

.imagen{
    display: flex;
    flex-direction: column; 
}

.img{
    width:100%;
    height: 70%;
    border-radius: 3rem;
}

.imagen p{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: var(--Cuadro);
}

.imagen a{
    text-align: center;
    background-color: var(--Titulo);
    color: var(--fondo);
    margin-top: 1%;
    padding: 1% 3% 1% 3%;
    border-radius: 8px;
    display: flex;
    position: absolute;
    margin: 27% 5%;
    font-size: 15px;
    font-weight: bold;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.imagen a:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(5px,0px);
    -webkit-transform: translate(5px,0px);
    -moz-transform:translate(5px,0px);
}

footer{
    color: var(--fondo);
    font-size: 15px;
    font-family: var(--textos);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
}

/* diseño adaptativo para el ipad pro */

@media screen and (max-width: 1024px) {
    
    header{
        margin: 5%;
        padding-bottom: 3%;
    }

    nav a {
        font-size: 25px;
    }

    .img-logo{
        width: 20%;
        height: 20%;
    } 

    h1{
        padding: 1%;
    }

    main{
        width: 100%;
        height: 100%;
        display: flex;
    
    }

    section{
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2%;
    }

    .imagen{
        width: 80%;
        height: 100%;
        margin-bottom: 4%;
    }


    .imagen a{
        font-size: 30px;
        padding:  2% 6% 2% 6%;
        margin: 48% 14% 0%;
    }

    .imagen p{
        font-size: 30px;
        line-height: 50px;
    }

    footer{
        font-size: 20px;
    }
}


/* diseño adaptativo para el iphone 12 pro */

@media screen and (max-width: 490px) {
    
    header{
        overflow: hidden;
        height: auto;
        width: 90%;
        align-items: center;
        border: solid red;
    }

    .menuNavegacion{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: solid rgb(25, 175, 40);
    }

    .enlaces ul li{
        flex-direction: column;
    }

    .logo{
        border: solid rgb(33, 43, 159);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .img-logo{
        height: 60%;
        width: 20%;
        padding: 0;
        margin: 0;
        border: solid rgb(183, 201, 19);
    }

    main{
        width: 100%;
        height: 100%;
    }

    .imagen{
        height: 100%;
        width: 100%;
    }

    .imagen p{
        height: 100%;
        font-size: 15px;
        overflow: hidden;
        line-height: 13px;
        margin: 0% 1%;
    }

    .imagen a{
        margin-top: 55%;
        margin-left: 18%;
        font-size: 14px;
    }

    /* .one{
        margin-bottom: 5%;
    } */

    footer{
        font-size: 13px;
    }
}