@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variables */

:root{
    --Titulo: #713ED9;
    --Cuadro: #31245C;
    --Dweb: #DAB9FF;
    --fondo: #F7F4FB;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/fondosPaginas/fondoExperiencia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    border-bottom: solid var(--Cuadro);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuNavegacion{
    display: flex;
}

a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: var(--Cuadro);
}

.listaHover:hover{
    background-color: var(--Titulo);
    color: var(--fondo);
    padding: 3px;
    border-radius: 5px;
}

.icon{
    color: var(--Titulo);
}

.logo a{
    height: 100%;
    align-items: center;
    gap: 10px;
}

.p-logo{
    font-size: 20px;
    font-weight: bold;
}

.img-logo{
    width: 6%;
    height: 6%;
} 

.listaMenu{
    gap: 25px;
    align-items: center;
    display: flex;
    list-style: none; 
}

body{
    overflow: hidden;
}

main{
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
}

section{
    height: 81vh;
    display: flex;
    justify-content: space-between;
}

.foto{
    width: 80%;
}

.foto img{
    width: 38%;
    height: 81%;
    padding-left: 5%;
    position: absolute;
}

.foto p{
    background-color: var(--Cuadro);
    margin-top: 17%;
    margin-left: 25%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 20px;
}

.uno{
    position: absolute;
    padding: 2%;
    background-color: var(--Cuadro);
    color: var(--fondo);
    font-size: 50px;
}

.añoExp{
    font-size: 20px;    
}

.text{
    width: 90%;
    padding: 0% 2%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 17px;
    color: var(--Cuadro);
}

h1{
    padding-bottom: 4%;
    color: var(--Titulo);
    font-size: 35px;
}

.text p{
     margin: 1%; 
     margin-bottom: 3%; 
}

.text ul li{
    list-style: none;
    line-height: 30px;
    font-weight: bold;
}

.iconLista{
    color: var(--Titulo);
    font-size: 20px;
    margin-right: 3%;
}

/* diseño adaptativo mediante la media, responsive */

