* {
    padding: 0%;
    margin: 0%;
    font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Circulo: #713ED9;
    --Cuadro: #31245C;
    --Dweb: #DAB9FF;
    --cir: #F7F4FB;
}

/* .fondo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/fondoPagina.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid var(--Cuadro);
    margin: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    gap: 25px;
}

h1 {
    color: var(--Cuadro);
    font-size: 20px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

.textoP {
    display: flex;
    flex-direction: column;
    color: var(--Circulo);
    margin-top: 80px;
    margin-left: 140px;
    position: absolute;
}

h2 {
    font-size: 85px;
    color: var(--Cuadro);
    text-transform: uppercase;
    display: flex;
    white-space: pre;
    letter-spacing: 3px;
}

h3 {
    font-size: 35px;
    font-optical-sizing: auto;
    font-weight: 40;
    font-style: normal;
}

.web {
    background-color: var(--Circulo);
    color: var(--cir);
    text-align: center;
    font-size: 25px;
    border-radius: 8px;
    padding: 10px;
    margin: 15px 15px 15px 0px;
}

.fotoPresentacion {
    display: flex;
    width: 610px;
    height: 617px;
    padding-left: 600px;
}