
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: "Montserrat", sans-serif;
}

:root {
    --Circulo: #713ED9;
    --Cuadro: #31245C;
    --Dweb: #DAB9FF;
    --cir: #F7F4FB;
}

body{
    background-image: url(../assets/fondoPagina.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }

header {
    border-bottom: solid var(--Cuadro);
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuNavegacion{
    display: flex;
}

a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: var(--Cuadro);
}

.listaHover:hover{
    background-color: var(--Circulo);
    color: var(--cir);
    padding: 3px;
    border-radius: 5px;
}

.icon{
    color: var(--Circulo);
}

.logo a{
    height: 100%;
    align-items: center;
    gap: 20px;
}

.p-logo{
    font-size: 20px;
    font-weight: bold;
}

.img-logo{
    width: 50px;
    height: 50px;
} 

.listaMenu{
    gap: 25px;
    align-items: center;
    display: flex;
    list-style: none; 
}

h1 {
    color: var(--Cuadro);
    font-size: 20px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

.textoP {
    display: flex;
    flex-direction: column;
    color: var(--Circulo);
    justify-content: center;
    align-items: start;
    margin-top: 80px;
    margin-left: 140px;
    position: absolute;
}

.textoP P{
    padding-left:40px;
    padding-right: 40px;
}

.textoP a{
    color: var(--cir);
}

h1 {
    font-size: 85px;    
    color: var(--Cuadro);
    text-transform: uppercase;
    display: flex;
    white-space: pre;
    letter-spacing: 4px;
}

h3 {
    font-size: 35px;
    font-optical-sizing: auto;
    font-weight: 40;
    font-style: normal;
}

.web {
    background-color: var(--Circulo);
    color: var(--cir);
    text-align: center;
    font-size: 25px;
    border-radius: 8px;
    padding: 10px;
    margin: 15px 15px 15px 0px;
}

.textoP a:hover{
    background-color: #31245C;
    color: #F7F4FB;
    padding: 10px;
    border-radius: 10px;
}   

.fotoPresentacion {
    display: flex;
    width: 610px;
    height: 660px;
    padding-left: 600px;
}